.nav-link {
  color: #000 !important;
}

.nav-link:focus,
.nav-link:hover {
  color: white;
}
.nav-link.active {
  background-color: #657ff6 !important;
  border-radius: 50px;
}
.como-funciona-h2 {
  margin-top: 70px !important;
  margin-bottom: 70px;
  z-index: 100;
  text-align: center;
}

.nav {
  justify-content: center !important;
  z-index: 100 !important;
  flex-wrap: nowrap !important;
}

.nav-fill .nav-item,
.nav-fill > .nav-link {
  text-align: center !important;
}
.nav-item {
  margin-bottom: 0px;
  margin-left: -1px;
  background-color: transparent;
  padding: 10px;
  border-radius: 50px !important;
}

.nav-tabs {
  font-family: "Book";
  --bs-nav-tabs-link-hover-border-color: transparent !important;
  --bs-nav-tabs-border-width: 0px !important;
  margin-top: 50px;
  background-color: white;
  border-radius: 50px !important;
  margin-top: -58px !important;
  align-self: flex-end;
  margin-right: 10%;
}

.nav-tabs .nav-link {
  border-radius: 50px !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-color: transparent !important;

  border-radius: 50px !important;

  color: white !important;
}

@media (max-width: 1040px) {
  .nav-tabs {
    margin-left: 60vw;
  }
}

@media (max-width: 1080px) {
  .right-content-margin {
    margin-right: 0% !important;
  }
}

@media (max-width: 500px) {
  .nav-tabs {
    margin-right: 4% !important;
    margin-left: 4% !important;
  }
}

@media (max-width: 408px) {
  .nav-tabs {
    margin-right: 0% !important;
    margin-left: 0% !important;
  }
}
