.nav-link {
  color: #000 !important;
}

.nav-link:focus,
.nav-link:hover {
  /* color: #6d7df6; */
  color: white;
}
.nav-link.active {
  background-color: #657ff6 !important;
  border-radius: 50px;
}
.como-funciona-h2 {
  /* margin-left: 56vw !important; */
  /* position: absolute !important; */
  margin-top: 70px !important;
  margin-bottom: 70px;
  z-index: 100;
  text-align: center;
}

.nav {
  justify-content: center !important;
  z-index: 100 !important;
  flex-wrap: nowrap !important;
}

.nav-fill .nav-item,
.nav-fill > .nav-link {
  /* flex: inherit !important; */
  text-align: center !important;
}
.nav-item {
  margin-bottom: -2px;
  margin-left: -1px;
  background-color: transparent;
  padding: 10px;
  border-radius: 50px !important;
}

.nav-tabs {
  font-family: "Book";
  --bs-nav-tabs-link-hover-border-color: transparent !important;
  --bs-nav-tabs-border-width: 0px !important;
  margin-top: 50px;
  background-color: white;
  border-radius: 50px !important;
  margin-top: -58px !important;
  align-self: flex-end;
  margin-right: 10%;
  /* align-self: center;  para mobile*/
  /* border-bottom: solid gray 2px !important; */
  /* margin-right: 20%; */
  /* margin-left: 70%; */
  /* position: absolute; */
}

.nav-tabs .nav-link {
  border-radius: 50px !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-color: transparent !important;
  /* border-bottom: #657ff6 solid 2px !important; */
  /* border-bottom: white solid 2px !important; */
  border-radius: 50px !important;
  /* color: #657ff6 !important; */
  color: white !important;
}

/* @media (min-width: 785px) {
  .full-container-hiw-mobile2 {
    display: none;
  }
}

@media (max-width: 785px) {
  .full-container-hiw {
    display: none;
  }
} */

@media (max-width: 1040px) {
  .nav-tabs {
    margin-left: 60vw;
  }
}

@media (max-width: 1080px) {
  .right-content-margin {
    margin-right: 0% !important;
  }
}

/* @media (max-width: 680px) {
  .nav-tabs {
    margin-right: 10% !important;
    margin-left: 10% !important;
  }
} */

@media (max-width: 500px) {
  .nav-tabs {
    margin-right: 4% !important;
    margin-left: 4% !important;
  }
}

@media (max-width: 408px) {
  .nav-tabs {
    margin-right: 0% !important;
    margin-left: 0% !important;
  }
}
