@font-face {
  font-family: "Light";
  src: local("AirbnbCerealLight"),
    url("./Fonts/AirbnbCerealLight.ttf") format("truetype");
}
@font-face {
  font-family: "Medium";
  src: local("AirbnbCerealMedium"),
    url("./Fonts/AirbnbCerealMedium.ttf") format("truetype");
}
@font-face {
  font-family: "ExtraBold";
  src: local("AirbnbCerealExtraBold"),
    url("./Fonts/AirbnbCerealExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Bold";
  src: local("AirbnbCerealBold"),
    url("./Fonts/AirbnbCerealBold.ttf") format("truetype");
}
@font-face {
  font-family: "Book";
  src: local("AirbnbCerealBook"),
    url("./Fonts/AirbnbCerealBook.ttf") format("truetype");
}
@font-face {
  font-family: "Black";
  src: local("AirbnbCerealBlack"),
    url("./Fonts/AirbnbCerealBlack.ttf") format("truetype");
}

/* 800 ExtraBold */
/* 700 Bold */
/* 600 Black */
/* 500 Medium*/
/* 400 Book*/
/* 300 Light*/
