body {
  /* scroll-behavior: smooth !important; */
  /* height: 100%; */
}
a {
  /* cursor: pointer !important; */
}
* {
  /* font-family: "Book"; */
  margin: 0;
}

p {
  color: #646c7c;
  font-family: Light;
}

a {
  text-decoration: none !important;
  /* color: transparent !important; */
}
#tyc-link {
  color: white;
}

strong {
  font-family: Bold;
}

h2 {
  color: #2b2e33;
  font-family: Medium;
  /* font-size: 43px; */
}
/* .fondo {
  background-image: url("Assets/Hero/hero-cut-isologo.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 40%;
} */
.hero-container {
  /* background-image: url("Assets/Hero/hero-cut-isologo.png"); */
  /* background-position: bottom right; */
  /* background-repeat: no-repeat; */
  /* background-size: 40%; */
  /* height: 90vh; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 225px;
  margin-left: 125px;
  height: 70vh;
  max-height: 650px;
  min-height: 630px;
}

.logo-mobile {
  margin-top: 30px;
  margin-left: 40px;
  margin-bottom: 50px;
}

@media (min-width: 761px) {
  .logo-mobile {
    display: none;
  }
}
@media (max-width: 761px) {
  .alguien-conoce,
  .manno-te-salva,
  .subtitle-hero,
  .download {
    margin-left: 20px !important;
  }
}

.manno-header {
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10vh;
  margin-right: 125px;
  margin-left: 125px;
}

.subtitle-hero {
  font-size: 24px;
}

.puntos {
  display: flex;
  z-index: 100;
}

.manno-te-salva {
  font-family: bold;
  font-size: 65px;
  color: #2b2e33;
}

.como-funciona {
  height: 100vh;
  background-color: rgba(127, 182, 255, 0.381);
}

.alguien-conoce {
  font-family: Book;
  font-size: 35px;
  white-space: nowrap;
  position: absolute;
  margin-top: -50px;
}

.img-manno {
  width: 3.3em;
}

.background-categories {
  /* background-image: url("./Assets/pincelada\ deskto.png"); */
  background-image: url("./Assets/pincelada2.png");

  /* background-image: url("./Assets/background-full-categories.webp"); */
  background-position: left;
  /* background-position: bottom; */
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: contain; */
  padding-top: 50px;
}

.categories-container {
  /* height: 1000px; */
  display: flex;
  margin-right: 65px;
  margin-left: 165px;
  margin-top: 100px;
  justify-content: space-between;
  /* Utilizamos vh o no?? */
  /* height: 100vh; */
}

@media (min-width: 1560px) {
  .categories-container {
    /* margin-right: 400px;  */
    /* margin-left: 400px;  */
  }
}
/* background-color: ; */
.categories-left-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 18px;
}

.box {
  border: #dde2e9 solid 1px;
  border-radius: 13px;
  width: 240px;
  height: 230px;
  margin: 20px;
  background-color: white;
}

.reviews-box {
  border: #dde2e9 solid 1px;
  border-radius: 13px;
  width: 250px;
  height: 250px;
  margin: 20px;
  background-color: white;
}

.reviews-title {
  margin-left: 20px;
  font-size: 20px;
  margin-top: 8px;
}

.reviews-text {
  margin-left: 20px;
  margin-top: 8px;
  margin-right: 20px;
  font-size: 15px;
  height: 80px;
}

@media (max-width: 512px) {
  .reviews-box {
    width: 300px;
  }
}
@media (max-width: 1000px) {
  .box {
    width: 300px;
  }
}

.categories-right-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  /* justify-content: end; no.. poner flex-end para safari */
  justify-content: flex-end;
  margin-bottom: 130px;
}

.box-container {
  width: 600px;
  /* height: 600px; */
  display: flex;
  flex-wrap: wrap;
}

/* FOOTER/ */

.up-conteiner-footer {
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
  color: white;
  margin-right: 165px;
  margin-left: 165px;
  border-radius: 24px;
  font-size: 24px;
}

.down-conteiner-footer {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  margin-right: 165px;
  margin-left: 165px;
  margin-top: 120px;
  border-radius: 200px;
  font-size: 14px;
}

.footer-p {
  display: flex;
  margin-top: 10px;
}
.footer-priv {
  margin-right: 40px;
}

.footer-tyc {
  margin-right: 90px;
}

.sm-icon {
  margin-right: 30px;
  width: 16px;
}

.logo-footer {
  width: 45px;
}

.footer-download-icon {
  height: 50px;
}

.mobile-footer {
  margin-top: 50px;
  margin-left: 80px;
  margin-right: 50px;
}

.st0 {
  opacity: 0.7 !important;
}

.elipse {
  width: 260px;
  height: 201px;
  border-radius: 501px 501px 501px 501px;
  background: linear-gradient(
    146.93deg,
    #657ff6 7.8%,
    #6593e4 30.32%,
    #64d8a7 109.4%
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  opacity: 0.7;
  filter: blur(80px);
  margin-top: -60vh;
  z-index: -2;
}

.elipse2 {
  width: 560px;
  height: 560px;
  border-radius: 501px 501px 501px 501px;
  /* border-radius: 200px; */
  margin-left: -200px;
  background: linear-gradient(
    146.93deg,
    #657ff6 7.8%,
    #6593e4 30.32%,
    #64d8a7 109.4%
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  opacity: 0.7;
  filter: blur(40px);
  margin-top: -100vh;
  z-index: -2;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* @media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    selector {
      property: value;
    }
    .elipse {
      animation: none;
    }
    .elipse2 {
      animation: none;
      filter: blur(60px);
    }
  }
} */

.elipse-cont {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: -1;
}

.download {
  margin-top: 80px;
  /* z-index: -3; */
}
.download-icons {
  height: 50px;
}
@media (max-width: 425px) {
  .download-cont {
    display: flex;
    justify-content: center;
    margin-top: -20px;
  }
  .download {
    margin-left: 0px !important;
  }
}

@media (max-width: 400px) {
  .download-icons {
    height: 45px;
  }
  .alguien-conoce {
    font-size: 10px;
  }
}

/* all and (max-width: 1000px) and (min-width: 700px) */
.fondo {
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  /* background-size: 400% 400%; */
  /* animation: gradient 15s ease infinite; */
  /* height: 100vh; */
  /* margin-bottom: 190px !important; */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 1300px) {
  .categories-container {
    margin-right: 30px;
  }
}

@media (max-width: 1200px) {
  .categories-container {
    margin-left: 60px;
  }
  .hero-container {
    margin-right: 40px;
    margin-left: 40px;
  }
  .manno-header {
    margin-right: 40px;
    margin-left: 40px;
  }
  .down-conteiner-footer {
    margin-right: 40px;
    margin-left: 40px;
  }
  .up-conteiner-footer {
    margin-right: 40px;
    margin-left: 40px;
  }
}

@media (max-width: 1000px) {
  .alguien-conoce {
    font-size: 30px;
  }
  .manno-te-salva {
    font-size: 60px;
  }
  .subtitle-hero {
    font-size: 20px;
  }
  .categories-container {
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 40px;
  }
  .categories-right-container {
    width: 90% !important;
    justify-content: center;
  }
  .background-categories {
    background-image: none;
    background-image: url("Assets/pincelada.png");
    background-size: cover;
    background-position: bottom;
  }
  .box-container {
    justify-content: center;
    height: auto;
    width: 100% !important;
  }
  .categories-left-container {
    margin-bottom: 55px;
  }
}

@media (max-width: 900px) {
  .alguien-conoce {
    font-size: 25px;
  }
  .manno-te-salva {
    font-size: 55px;
  }
  .subtitle-hero {
    font-size: 18px;
  }
  .footer-tyc {
    margin-right: 20px;
  }
  .footer-priv {
    margin-right: 20px;
  }
  .sm-icon {
    margin-right: 15px;
  }
  .categories-container {
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media (max-width: 760px) {
  .hero-container {
    display: flex;
    flex-direction: column;

    margin-right: 20px;
    margin-left: 20px;
  }
  .alguien-conoce {
    margin-top: -20px;
    position: relative;
    font-size: 25px;
  }
  .manno-header {
    display: none;
  }
  .fondo {
    margin-bottom: 250px !important;
  }
  .br {
    display: none;
  }
  .manno-te-salva {
    font-size: 40px;
  }
  .download {
    margin-top: 40px;
    display: flex;
  }
  .phone-hero-cont {
    height: auto !important;
    margin-top: 70px !important;
  }
  .elipse {
    display: none;
  }
  #mobile-faq {
    width: 80vw !important;
  }
  .box-container {
    justify-content: center;
    height: auto !important;
    width: auto !important;
  }
}

@media (max-width: 450px) {
  .alguien-conoce {
    font-size: 20px;
  }
}

@media (max-width: 370px) {
  .alguien-conoce {
    font-size: 15px;
  }
}

@media (max-width: 357px) {
  .manno-te-salva {
    font-size: 30px;
  }
  .download-icons {
    height: 40px;
  }
}

.text-icon-experto {
  display: flex;
}

.expertos {
  height: 670px;
  width: 100vw;
  background: linear-gradient(112.25deg, #657ff6 34.87%, #64d8a7 102.99%);
  border-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.right-expertos {
  margin-top: 193px;
}
.left-expertos p {
  color: white;
}

.left-expertos {
  margin-bottom: 35px;
  /* margin-left: -108px; */
}

.button-experto {
  font-size: 20px;
  position: absolute;
  background: white;
  border-radius: 100px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 25px;
  text-align: center;
}

.expertos-title {
  font-size: 40px;
  color: white;
  margin-bottom: 25px;
}

/* mobile */

@media (max-width: 800px) {
  .expertos {
    flex-direction: column;
    justify-content: space-between;
    height: auto;

    font-size: 14px;
  }
  .expertos-title {
    font-size: 24px;
    color: white;
    margin-bottom: 37px;
    margin-top: 20px;
  }
  .left-expertos {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 95px;
  }
  .right-expertos {
    margin: 0;
  }
  .text-icon-experto {
    font-size: 16px;
    display: flex;
  }
  .cont-expertos {
    height: auto;
  }
  .photo-experto {
    width: 225px;
  }
  .button-experto {
    margin-left: 10px;
    position: relative;
  }
  .categories-right-container {
    width: 100%;
  }
}
@media (min-width: 800px) {
  .button-experto {
    display: none;
  }
}

@media (max-width: 680px) {
  .footer-p {
    display: none;
  }
  .sm-icon {
    width: 15px;
    margin-right: 20px;
  }
  .logo-footer {
    width: 55px;
  }
  .up-conteiner-footer {
    display: flex;
    flex-direction: column;
  }
  .footer-download-icon {
    height: 40px;
  }
}
@media (max-width: 340px) {
  .footer-download-icon {
    height: 32px;
  }
}
@media (min-width: 500px) {
  .br-mobile {
    display: none;
  }
}

@media (max-width: 500px) {
  .categories-container {
    margin-left: 40px;
    margin-right: 40px;
  }
  .br-right-p-categories {
    display: none;
  }
}

.expert-icons {
  margin-right: 10px;
  margin-bottom: 18px;
}
@media (max-width: 450px) {
  .expert-icons {
    margin-bottom: 40px;
  }
}
@media (max-width: 425px) {
  .button-experto {
    font-size: 15px !important;
  }
}

/* OJO QUE ESTE ES MIN */
@media (min-width: 680px) {
  .mobile-footer {
    display: none;
  }
}
/* VIDEO IPHONE */
/*  */
/* .fullscreen {
  position: absolute;
  object-fit: cover;
  width: 246px;
  height: 491px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  z-index: 3;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    120px 120px 120px rgba(0, 0, 0, 0.16), 80px 80px 80px rgba(0, 0, 0, 0.16),
    48px 48px 48px rgba(0, 0, 0, 0.24), 32px 32px 32px rgba(0, 0, 0, 0.24);
} */

#fullscreen-cf2 {
  position: absolute;
  width: 194px;
  height: 391px;
  position: absolute;
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  z-index: 3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    120px 120px 120px rgba(0, 0, 0, 0.16), 80px 80px 80px rgba(0, 0, 0, 0.16),
    48px 48px 48px rgba(0, 0, 0, 0.24), 32px 32px 32px rgba(0, 0, 0, 0.24);
  background-image: url("Assets/Hero/img-home1.png");
  background-size: cover;
}

#fullscreen-cf2::after {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  z-index: 1;
  background-image: url("Assets/Hero/img-home2.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

@keyframes cf3FadeInOut {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  55% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

#fullscreen-cf2::after {
  animation-name: cf3FadeInOut;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-duration: 5s;
}

.phone-hero-cont {
  position: relative;
  display: grid;
  place-items: center;
  margin: 0 auto;
  z-index: -1;
  bottom: 30px;
}

.content {
  z-index: 5;
}

/* FAQS */
.accordion {
  width: 750px !important;
}

.accordion-item {
  border: none;
  border: 1px solid #657ff6 !important;
  border-radius: 7px !important;
}

.accordion-header {
  font-family: Book;
}

.accordion-item .accordion-button {
  /* border: 0.5px solid #657ff6 !important; */
  border-radius: 7px !important;
  /* margin-bottom: 50px; */
  height: 100px;
}
.faqs-container {
  margin-top: 75px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  /* margin-bottom: 10vh; */
}
.accordion-button {
  /* color: red !important; */
}
.accordion-item:first-of-type .accordion-button {
  margin-top: 0px !important;
}

.faq-bullet {
  border: 1px solid #657ff6;
  border-radius: 50%;
  width: 37px !important;
  height: 37px !important;
  text-align: center;
  padding: 8px;
  color: #657ff6;
  margin-right: 23px;
}
/* screen and (max-device-width:640px), screen and (max-width:640px) */
@media (max-width: 761px) {
  .faq-position-mobile {
    position: absolute;
    margin: 55px;
  }
}

@media (max-width: 332px) {
  .faq-position-mobile {
    position: relative;
    margin: 0px;
  }
}

.accordion-button.collapsed::after {
  background-image: url("Assets/plus-icon.svg");
}

.accordion-button:not(.collapsed)::after {
  background-image: url("Assets/minus-icon.svg") !important;
  /* transform: var(--bs-accordion-btn-icon-transform); */
}

.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  color: #657ff6 !important;
  box-shadow: none !important;
}

.accordion-button:focus {
  box-shadow: none !important;
}
