.bubbles-cont {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: -1;
}

.bubble-left {
  width: 260px;
  height: 201px;
  border-radius: 500px;
  background: linear-gradient(
    146.93deg,
    #657ff6 7.8%,
    #6593e4 30.32%,
    #64d8a7 109.4%
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  opacity: 0.7;
  filter: blur(80px);
  margin-top: -60vh;
  z-index: -2;
}

.bubble-right-cont {
  margin-top: -100vh;
  z-index: -2;
}

.bubble-right-one {
  width: 300px;
  height: 300px;
  border-radius: 500px;
  background-color: #657ff6;
  opacity: 0.5;
  filter: blur(20px);
  position: absolute;
  right: 251px;
  top: 230px;
}

.bubble-right-two {
  width: 300px;
  height: 300px;
  border-radius: 500px;
  background-color: #64d8a7;
  opacity: 0.5;
  filter: blur(20px);
  position: absolute;
  right: 151px;
  top: 430px;
}

.bubble-right-three {
  width: 300px;
  height: 300px;
  border-radius: 500px;
  background-color: #657ff6;
  opacity: 0.5;
  filter: blur(20px);
  position: absolute;
  right: 0px;
  top: 430px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.auto-style1 {
  text-align: justify;
}

.auto-style2 {
  font-family: Bold;
  text-decoration: underline;
  font-size: 16px;
  color: black;
  margin-top: 10px;
}
.terms-title {
  color: rgba(0, 0, 0, 0.5);
  font-family: ExtraBold;
  border-bottom: solid 0.5px rgba(0, 0, 0, 0.5);
  line-height: 1.4;
}

.auto-style3 {
  font-size: 14px;
  text-align: left;
  font-family: Light;
  color: #00000080;
}
.terms-container {
  padding-top: 6rem;
  background-attachment: scroll;
  background-size: auto;
  background-position: top;
  background: rgb(101, 127, 246);
  line-height: 1.65;
  margin: 0;
}

#main > .terms-inner {
  margin: 0 auto;
  width: 80rem;
  max-width: 90%;

  background: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 30%);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 30%);
  border-radius: 4px;
}

.terms-wrapper > header.special {
  padding: 4rem 2rem;
}
.terms-wrapper > header {
  text-align: center;
  background: #fff;
  padding: 2rem;
  margin: 0;
}
.terms-wrapper.style1 .content {
  text-align: left;
  padding: 6rem;
  padding-top: 20px;
}

hr {
  width: 50% !important;
  margin: 0 auto !important;
}

@media (max-width: 1000px) {
  .terms-wrapper.style1 .content {
    padding: 2rem;
    padding-top: 20px;
  }
  .terms-wrapper > header.special {
    padding: 4rem 1rem;
    padding-bottom: 20px;
  }
  hr {
    width: 90% !important;
    margin: 0 auto !important;
  }
}

.terms-bottom-div {
  height: 90px;
  background-color: rgb(101, 127, 246);
}

.terms-header {
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  width: 100vw;
  background-color: rgb(101, 127, 246);
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 120px;
  padding-left: 120px;
  padding-top: 50px;
  position: fixed;
  padding-bottom: 60px;
}

@media (max-width: 800px) {
  .terms-header {
    justify-content: center;
  }
}

.step-cont-hiw {
  width: 380px;
  height: 180px;
  display: flex;
  padding: 20px;
  margin-bottom: 50px;
  border-radius: 13px;
}

.container-hiw {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 50px;
  padding-top: 100px;
  flex-direction: row;
}

.bullet-hiw {
  border: 1px solid white;
  border-radius: 50%;
  width: 51px;
  height: 51px;
  text-align: center;
  padding: 11px;
  color: white;
  position: absolute;
  font-family: Medium;
  font-size: 16px;
}

.text-hiw {
  color: white;
  font-family: Light;
}

.title-hiw {
  color: white;
  font-family: Medium;
  font-size: 19px;
}

.step-cont-hiw:hover {
  border: white 1px solid;
}

.content-hiw-flex {
  display: flex;
  flex-direction: column;
}

.bg-hiw {
  background: linear-gradient(109deg, #657ff6 0.66%, #64d8a7 122.12%);
}
.h2-hiw {
  color: white;
  margin-left: 10%;
  padding-top: 120px;
  align-self: start;
  /* align-self: center;  para mobile*/
}

.hr-hiw {
  border-bottom: 1px solid #eeeeee !important;
  width: 85%;
  margin-top: 75px;
  margin-bottom: -40px;
  align-self: center !important;
}

.mobile-bullet {
  display: none;
}

.step-cont-section {
  margin-left: 75px;
}
@media (max-width: 800px) {
  .h2-hiw {
    align-self: center;
    margin: 0px;
    padding-bottom: 110px !important;
  }
  .nav-tabs {
    align-self: center !important;
    margin: 0px !important;
  }
}

@media (max-width: 635px) {
  .container-hiw {
    flex-direction: column;
  }
  .desktop-bullet {
    display: none;
  }
  .hr-hiw {
    display: none;
  }
  .mobile-bullet {
    display: block !important;
  }
}

@media (max-width: 980px) {
  .phone-hiw {
    display: none;
  }
  .step-cont-hiw {
    border: white solid 1px;
    border-radius: 13px;
    width: 300px;
    height: 230px;
  }
  .step-cont-section {
    margin-left: 0px;
    margin-top: 70px;
  }
}

#reviews-box {
  border: solid pink 2px;
  width: 200px;
  height: 200px;
}

.reviews-container {
  margin-left: 140px;
  padding-top: 100px;
  margin-bottom: 100px;
}

@media (max-width: 1000px) {
  .reviews-container {
    margin-left: 40px;
    padding-top: 100px;
    margin-bottom: 100px;
  }
}
